## include this from ~/.gitconfig
# [include]
# 	path = code/dot-file/.gitconfig

[core]
	whitespace = trailing-space,space-before-tab

[commit]
        gpgSign = true

[init]
	defaultBranch = main

[url "git@github.com:"]
	insteadOf = https://github.com/

[alias]
	assume   = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
	ours   = "!f() { git checkout --ours $@ && git add $@;};f"
	theirs = "!f() { git checkout --theirs $@ && git add $@;};f"
	tags = log --tags --simplify-by-decoration --pretty='format:%ai %d'
	fetch-pulls = "!f(){ set -x; git fetch \"$1\" \"+refs/pull/*/head:refs/remotes/$1/pull/*\";};f"
	fetch-backups = "!f(){ b=${2:-${GIT_USER:-$USER}}; set -x; git fetch \"$1\" \"+refs/remotes/$b/*:refs/remotes/$1/$b/*\";};f"
        push-backups = "!f(){ b=${2:-${GIT_USER:-$USER}}; set -x; git push \"$1\" \"+refs/he/$b/*:refs/remotes/$1/$b/*\";};f"
	branch-clean = "!f(){ set -x; git branch -d \"$1\" && git push origin :\"$1\";};f"
	unadded = ls-files -o --exclude-standard

[diff]
	renames = copies 	# detect copies as renames too
	noprefix = true		# file names in diffs are real paths

[push]
	default = simple

[pull]
	rebase = true
