[submodule "site-lisp/tla-tools"]
	path = site-lisp/tla-tools
	url = git@github.com:mrc/tla-tools.git
[submodule "site-lisp/alloy-mode"]
	path = site-lisp/alloy-mode
	url = https://github.com/dwwmmn/alloy-mode.git
