## include this from ~/.gitconfig
# [include]
# 	path = code/dot-file/.gitconfig

[core]
	whitespace = trailing-space,space-before-tab

[alias]
	assume   = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
	ours   = "!f() { git checkout --ours $@ && git add $@; }; f"
	theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
	tags = log --tags --simplify-by-decoration --pretty='format:%ai %d'
	fetch-pulls = "fetch $1 '+refs/pull/*/head:refs/remotes/$1/pull/*'"
	fetch-backups = "fetch $1 '+refs/remotes/langmartin/*:refs/remotes/$1/langmartin/*'"
	branch-clean = "!f(){ git branch -d \"$1\" && git push origin :\"$1\"; }; f"

[diff]
	renames = copies

[push]
	default = simple